* {
    padding: 0;
    margin: 0;
  }
  
  section {
      min-height: 700px;
      padding-top: 5%;
  }
  
  section#banner {
      background: #eee;
  }
  
  section#about {
      background: #ddd;
  }
  
  section#contact {
      background: #eee;
      min-height: 100px;
  }
  
  footer {
      background: #ddd;
      padding: 1em 2em 1em 2em;
  }
  
  main {
      padding: 0;
      margin: 0;
  }
  
  /* Helper Classes */
  
  .container {
        padding-right: 15%;
        padding-left: 15%;
        margin: 0 auto 0 auto;
  }
  
  .text-center {
      text-align: center;
  }
  
  .text-uppercase {
      text-transform: uppercase;
  }
  
  .mt {
      margin-top: 2em;
  }
  
  .mt-2 {
      margin-top: 4em;
  }
  
  .mb {
      margin-bottom: 2em;
  }
  
  .mb-1 {
      margin-bottom: 1em;
  }
  
  .profile {
      width: 20em;
        height: 20em;
        
      width: 300px;
      margin: 4em auto 4em auto;
  }
  
  .profile img {
      width: 100%;
  }
  
  .text-large {
      font-size: 3em;
  }
  
  
  /* Re-usable border */
  
  .seperator {
      border-bottom: 2px solid #000;
      max-width: 800px;
      margin: 2em auto 2em auto;
  }
  
  /* Social Icons */
  
  .socials ul {
      margin: 3em auto 3em auto;
      max-width: 300px;
  }
  
  .socials li {
      display: inline;
      list-style-type: none;
      padding: 20px;
  }
  
  .socials li img {
      max-width: 30px;
  }
  
  /* Portfolio Section */
  
  .portfolio ul {
      margin: 3em auto 3em auto;
      max-width: 920px;
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;	
  }
  
  .portfolio li {
      display: inline;
      list-style-type: none;
      padding: auto;
  }
  
  .portfolio li img {
      
      max-width: 280px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2em;
  }
  
  /* About Section */
  
  ul.about {
      margin: 3em auto auto auto;
      list-style-type: none;
  }
  
  .about .title {
      float: left;
  }
  
  .about .description {
      float: right;
  }
  
  /* Contact Section */
  
  ul#contactContainer {
  
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
      margin: auto;
      text-align: center;
      list-style-type: none;
  
  }
  
  
   /* Navbar Styling */
  
  #desktop {
      display: block;
  }
  
  #mobile {
      display: none;
  }
  
  #navbar {
    overflow: hidden;
    background-color: #ddd;
  }
  
  /* Navbar links */
  #navbar a#logo {
      float: left;
  }
  
  
  #navbar a {
    float: right;
    display: block;
    color: #333;
    text-align: center;
    padding: 2em 4em 2em 4em;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .sub-menu {
      padding-left: 5%;
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
      width: 100%;
      opacity: 0;
  }
  
  .sub-menu a {
      float: none !important;
      padding: 1em !important; 
      text-align: left !important;
  }
  
  .sub-menu.show {
      visibility: visible;
      opacity: 1;
      transition: visibility 0.5s 0.5s;
      transition: opacity 0.5s 0.5s;
  }
  
  
  /* Animation for mobile hamburger icon */
  
  
  #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #555;
    position: absolute;
    display: block;
    content: '';
    margin-top: 1%;
  
  
  }
  #nav-toggle span:before {
    top: -10px;
  
  }
  #nav-toggle span:after {
    bottom: -10px; 
  }
  
  #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all 500ms ease-in-out;
  }
  #nav-toggle.active span {
    background-color: transparent;
  }
  #nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
  }
  #nav-toggle.active span:before {
    transform: rotate(45deg);
  }
  #nav-toggle.active span:after {
    transform: rotate(-45deg);
  }
  
  /* Page content */
  .content {
    padding: 16px 0 0 0;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
        position: fixed;
        top: 0;
       width: 100%;
       background-color: #ddd;
        list-style-type: none;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
        padding-top: 60px;
  } 
  
  .mobile {
      display: none;
  }
  
  
  
  /* Mobile Nav Expansion*/
  .sticky {
      height: 5em;
      -webkit-transition: height 1s; /* Safari */
      transition: height 1s;
  }
  
  .sticky.expand {
  
        height: 12em;
        -webkit-transition: height 1s; /* Safari */
        transition: height 1s;
          
  }
  
  
  
   /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
  
       ul#contactContainer {
  
          -webkit-column-count: 1;
          -moz-column-count: 1;
          column-count: 1;
  
        }
       ul.about {
          padding: 0;
          -webkit-column-count: 1;
          -moz-column-count: 1;
          column-count: 1;
  
        }
  
        .desktop, #desktop {
            display: none;
        }
  
        .mobile, #mobile {
            display: block;
        }
  
        #navbar a {
            padding: 2em;
            margin-right: 2em;
        }
  
        .portfolio ul {
          
          -webkit-column-count: 1;
          -moz-column-count: 1;
          column-count: 1;	
          padding: 0 8% 0 8%;
  
      }
  
      header {
          padding-top: 5%;
      }
  
  
  
      
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  
      ul#contactContainer {
  
          -webkit-column-count: 1;
          -moz-column-count: 1;
          column-count: 1;
  
      }
  
      ul.about {
          padding: 0;
          -webkit-column-count: 1;
          -moz-column-count: 1;
          column-count: 1;
  
        }
  
       .desktop, #desktop {
            display: none;
        }
  
        .mobile, #mobile {
            display: block;
        }
  
        .portfolio ul {
          
          -webkit-column-count: 1;
          -moz-column-count: 1;
          column-count: 1;	
          padding: 0 8% 0 8%;
  
      }
  
      header {
          padding-top: 5%;
      }
      
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  
      .portfolio ul {
          
          -webkit-column-count: 2;
          -moz-column-count: 2;
          column-count: 2;	
          padding: 0 16% 0 16%;
  
      }
      
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  
      ul#contactContainer {
  
          -webkit-column-count: 3;
          -moz-column-count: 3;
          column-count: 3;
  
      }
  
      ul.about {
          padding-left: 5%;
          padding-right: 5%;
          -webkit-column-count: 2;
          -moz-column-count: 2;
          column-count: 2;
  
        }
  
       .desktop, #desktop {
            display: block;
        }
  
        .mobile, #mobile {
            display: none;
        }
  
        .portfolio ul {
          
          
          -webkit-column-count: 3;
          -moz-column-count: 3;
          column-count: 3;
  
      }
  
      header {
          padding-top: 0;
      }
      
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
      
  } 
  