/* General reset so all browsers render the same */
* {
    padding: 0;
    margin: 0;
}
  
/* Section Styling */
section {
    min-height: 700px; 
    padding-top: 5%;
}

footer {
    background: #ddd;
    padding: 1em 2em 1em 2em;
}

.oval {
    width: 20em;
    height: 20em;
    background: #ddd;
    border-radius: 50%;
    margin: 4em auto 4em auto;  
}
  
.oval img { 
    width: 60%;
    padding: 20%;
}

.text-center {
    text-align: center;
}

.large {
    font-size: 3em;
}

.seperator {
    border-bottom: 2px solid #000;
    max-width: 800px;
    margin: 2em auto 2em auto;
}

.socials ul {
    margin: 3em auto 3em auto;
    max-width: 300px;
}

.socials li {
    display: inline;
    list-style-type: none;
    padding: 20px;
}

.socials li img {
    max-width: 30px;
    margin-left: auto;
    margin-right: auto;
}